body {
    margin: 82px 24px;
    font-family: "Scala";
    word-break: break-all;
}

a { color: #39BFA2 }

img {
    display: block;
    margin: 12px 0;
    max-width: 100%!important;
    box-sizing: border-box;
}

ul, ol {
    padding: 0 0 0 1.5em;
}